{% extends 'base.html' %}
{% block content %}

{{submenu(menu, menutab)}}

{% if errors and menutab == 'import' %}
    <div class="alert alert-warning" role="alert"><p>Please review the following errors with your import file.</p>

    <p>Remember, you should use plain text CSV files, not UTF-8 encoded CSV files and not Excel files.</p>

    <p>If you're importing from the legacy SCMS system you may need to remove extra header information at the start of the file (such as dates, etc.) before column headers or extra blank lines at the end of the file (after all data) before using this.</p>
    </div>
{% elif errors %}
    <div class="alert alert-warning" role="alert"><p>Please review the following errors.</p></div>
{% endif %}

{% for e in errors %}
    <div class="alert alert-danger" role="alert">{{e}}</div>
{% endfor %}

<a href="javascript:history.go(-1);" class="btn btn-default" role="button">Go back</a>

{% endblock %}